{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "rules": {
        "jsx-quotes": [
            "error",
            "prefer-double"
        ]
    }
}