.action-bar {

  .action-bar-text {
    color: white;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .page-title {
    font-size: 1.8rem;
  }

  .resource-name {
    color: #409af8;
    background: white;
    border-radius: 2px;
    padding: 0.5rem;
  }
  
  .save-status {
    font-size: 0.8rem;
  }

  button{
    background: coral;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }
  label {
    input {
      font-size: 2rem;
    }
  }
}