.page-title {
  text-align: center;
}

.dropzone {
  width: 40vw;
  border: 2px dashed #0087F7;
  border-radius: 5px;
  margin: auto;

  .dz-message, .dz-note {
    text-align: center;
    margin: 10px auto;
    font-size: 1.4rem;
    color: #646C7F;
  }

  .dz-note {
    font-size: 1rem;
  }
}

.table-title {
  width: 90vw;
  margin: 1em auto 0;
}

.resources {
  width: 90vw;
  margin: 0 auto;

  .resources-header {
    color: #808080;
    border-bottom: 1px solid #C0C0C0;
    padding: 0.33rem 0;
    margin-bottom: 0.8rem;
  }

  .resources-header,
  .resource {
    display: flex;
    align-items: flex-end;
    color: #696969;

    > * {
      text-align: left;
    }

    .name {
      flex: 30% 0 0;

      a {
        color: #696969;
        text-decoration: underline solid lightsalmon;
      }
    }
    
    .last-modified {
      flex: 20% 0 0;
    }
    
    .last-translated {
      flex: 20% 0 0;
    }
    
    .complete {
      flex: 10% 0 0;
      
      span {
        color: greenyellow;
      }
    }
    
    .download {
      flex: 10% 0 0;

      a {
        text-decoration: none;
      }
    }
    
    .delete {
      flex: 10% 0 0;

      button {
        font-size: 1em;
        background: none;
        border: none;
        cursor: pointer;
        color: hotpink;
      }
    }
  }

  .resource {
    &:hover {
      background-color: #fbf3ed;
    }
    
    .complete,
    .download {
      font-size: 1em;
      text-align: center;
    }
  }

  .centered {
    text-align: center;
  }
}

.status {
  width: 90vw;
  margin: 1em auto;
}