* {
  font-family: Arial, Helvetica, sans-serif;
}

.resources {
  width: 90vw;
  margin: 0 auto;
  float: left;

  .resources-header {
    color: #808080;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
  }
  .resources-header,
  .resource {
    display: flex;
    align-items: flex-end;
    color: #696969;

    // th {
    //   vertical-align: middle;
    //   line-height: 1.5rem;
    //   padding: 1px auto;
    // }

    > * {
      // display: flex;
      text-align: left;
    }

    .name {
      flex: 30% 0 0;
    }
    
    .last-modified {
      flex: 20% 0 0;
    }
    
    .last-translated {
      flex: 20% 0 0;
    }
    
    .complete {
      flex: 10% 0 0;
      
      span {
        color: greenyellow;
      }
    }
    
    .download {
      flex: 10% 0 0;

      a {
        text-decoration: none;
      }
    }
    
    .delete {
      flex: 10% 0 0;

      button {
        font-size: 1em;
        background: none;
        border: none;
        cursor: pointer;
        color: hotpink;
      }
    }
  }
  
  // .resource-column {
  //   flex: 40% 0 0;
  // }

  .resource {
    &:hover {
      background-color: #c5c5c5;
    }
    
    .complete,
    .download {
      font-size: 1em;
      text-align: center;
    }
  }

  .centered {
    text-align: center;
  }
}