body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .action-bar {
    flex: 65px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: coral;
    flex-direction: row;
    align-items: center;
  }

  .editors {
    display: flex;
    margin: 0 25px;

    .editor-container {
      display: flex;
      flex-direction: column;
      flex: 1 0 0;

      .editor-title {
        flex: 5% 0 0;
      }

      .editor {
        display: flex;
        flex: 85% 0 0;

        > * {
          height: auto;
        }

        .markup {
          color: #d0d9e2;
        }

        .current-line {
          background-color: #ffb79d;
        }
      }
    }
  }
}
